/* @author jarasa03 */

body {
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

#d1 {
    background-color: lightcoral;
    height: 20%;
    width: 20%;
    top: 5%;
    left: 5%;
    position: absolute;
    border-radius: 10px;
}

#d2 {
    background-color: lightcoral;
    height: 20%;
    width: 20%;
    top: 5%;
    left: 40%;
    position: absolute;
    border-radius: 10px;
}

#d3 {
    background-color: lightcoral;
    height: 20%;
    width: 20%;
    top: 5%;
    right: 5%;
    position: absolute;
    border-radius: 10px;
}

#d4 {
    background-color: lightslategray;
    height: 40%;
    width: 40%;
    top: 50%;
    right: 5%;
    position: absolute;
    border-radius: 10px;
}

#d5 {
    background-color: lightslategray;
    height: 40%;
    width: 40%;
    top: 50%;
    left: 5%;
    position: absolute;
    border-radius: 10px;
}
